*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
header {
    width: 105%;
}
 header a{
    color: white;
 }
header{
background-color:#6f4e37 ;
 display: flex;
 align-items: center;
padding: 15px;
}
header ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    color: white;
}

.logo{
    margin: 0 auto;
    font-size: 25px;
}
#nav li{
    padding: 10px;
}
.sociallink li{
    padding: 10px;
}
.sociallink img{
    width: 20px;
}
.main{
    display: flex;

}

.container{
display: flex;
justify-content: space-between;

}
.servicebox{
    border: 1px solid lightgray;
     flex-basis: 20%;
     max-width: 370px;
     padding: 8px;
      display: flex;
     flex-direction: column; 
}
.article{
    padding: 10px;
}
aside{
    flex: 0 0 20vw;
   background-color:#c7aa92;
}
aside ul{
    list-style: none;
    padding: 0;
}
aside ul a{
    color: #6f4e37;
    padding: 10px;
    display: block;
    border-bottom: 1px solid black;
}
.action a{
    background-color: #7e6161;
    color: white;
    padding-top: 1px;
    padding-LEFT:2PX ;
   /* display: block;
     */
}
.action {
    align-self: flex-start;
    margin-top: auto;   
}

.action  a:hover{
    border: 2px solid grey;
    color: black;
    background-color: transparent;
   
   }
   

footer{
    text-align: center;
    background-color:#6f4e37  ;
    color: white;
    padding: 15px;
}